.form-wrapper {
  .row {
    span {
      flex: 1;
    }

    input {
      flex: 3;
    }
  }

  .rating {
    margin-top: 0.5rem;
  }

  .price-label {
    font-size: 1rem;

    @media screen and (max-width: 992px) {
      font-size: 0.95rem;
    }
    @media screen and (max-width: 576px) {
      font-size: 0.85rem;
    }
    @media screen and (max-width: 280px) {
      font-size: 0.75rem;
    }
  }
}
